Repository nuxt/ui, pull requests merged in 2024-10, with the labels that each got.

#2288 feat(Carousel): implement component
  docs/app/assets/icons/embla-carousel.svg
  docs/app/components/content/examples/carousel/CarouselArrowsExample.vue
  docs/app/components/content/examples/carousel/CarouselAutoHeightExample.vue
  docs/app/components/content/examples/carousel/CarouselAutoScrollExample.vue
  docs/app/components/content/examples/carousel/CarouselAutoplayExample.vue
  docs/app/components/content/examples/carousel/CarouselClassNamesExample.vue
  docs/app/components/content/examples/carousel/CarouselDotsExample.vue
  docs/app/components/content/examples/carousel/CarouselDotsMultipleExample.vue
  docs/app/components/content/examples/carousel/CarouselFadeExample.vue
  docs/app/components/content/examples/carousel/CarouselItemsExample.vue
  docs/app/components/content/examples/carousel/CarouselItemsMultipleExample.vue
  docs/app/components/content/examples/carousel/CarouselOrientationExample.vue
  docs/app/components/content/examples/carousel/CarouselPrevNextExample.vue
  docs/app/components/content/examples/carousel/CarouselPrevNextIconExample.vue
  docs/app/components/content/examples/carousel/CarouselWheelGesturesExample.vue
  docs/content/1.getting-started/3.theme.md
  docs/content/1.getting-started/4.icons.md
  docs/content/1.getting-started/5.fonts.md
  docs/content/3.components/alert.md
  docs/content/3.components/breadcrumb.md
  docs/content/3.components/button.md
  docs/content/3.components/carousel.md
  docs/content/3.components/command-palette.md
  docs/content/3.components/context-menu.md
  docs/content/3.components/dropdown-menu.md
  docs/content/3.components/modal.md
  docs/content/3.components/slideover.md
  docs/content/3.components/toast.md
  package.json
  playground/app/app.vue
  playground/app/pages/components/carousel.vue
  pnpm-lock.yaml
  src/runtime/components/Breadcrumb.vue
  src/runtime/components/Carousel.vue
  src/runtime/components/ContextMenu.vue
  src/runtime/components/DropdownMenu.vue
  src/runtime/components/NavigationMenu.vue
  src/runtime/types/index.ts
  src/theme/carousel.ts
  src/theme/icons.ts
  src/theme/index.ts
  test/components/Carousel.spec.ts
  test/components/__snapshots__/Carousel.spec.ts.snap
Labels: v3

#2386 fix(InputMenu): emit `focus` event
  docs/app/components/content/examples/input-menu/InputMenuOpenFocusExample.vue
  docs/content/3.components/input-menu.md
  src/runtime/components/InputMenu.vue
Labels: v3

#2384 feat(NavigationMenu): handle children on `vertical` orientation
  docs/app/components/content/examples/collapsible/CollapsibleIconExample.vue
  docs/app/components/content/examples/collapsible/CollapsibleOpenExample.vue
  docs/app/components/content/examples/navigation-menu/NavigationMenuModelValueExample.vue
  docs/content/3.components/collapsible.md
  docs/content/3.components/drawer.md
  docs/content/3.components/dropdown-menu.md
  docs/content/3.components/input-menu.md
  docs/content/3.components/modal.md
  docs/content/3.components/navigation-menu.md
  docs/content/3.components/popover.md
  docs/content/3.components/select-menu.md
  docs/content/3.components/select.md
  docs/content/3.components/slideover.md
  docs/content/3.components/tooltip.md
  playground/app/pages/components/collapsible.vue
  src/runtime/components/LinkBase.vue
  src/runtime/components/NavigationMenu.vue
  src/theme/collapsible.ts
  src/theme/navigation-menu.ts
  test/components/Collapsible.spec.ts
  test/components/__snapshots__/Collapsible.spec.ts.snap
  test/components/__snapshots__/NavigationMenu.spec.ts.snap
Labels: enhancement, v3

#2364 feat(Table): implement component
  docs/app/components/content/ComponentCode.vue
  docs/app/components/content/ComponentExample.vue
  docs/app/components/content/ComponentProps.vue
  docs/app/components/content/ComponentPropsLinks.vue
  docs/app/components/content/ComponentTheme.vue
  docs/app/components/content/examples/table/TableColumnFiltersExample.vue
  docs/app/components/content/examples/table/TableColumnPinningExample.vue
  docs/app/components/content/examples/table/TableColumnSortingExample.vue
  docs/app/components/content/examples/table/TableColumnSortingReusableExample.vue
  docs/app/components/content/examples/table/TableColumnVisibilityExample.vue
  docs/app/components/content/examples/table/TableColumnsExample.vue
  docs/app/components/content/examples/table/TableExample.vue
  docs/app/components/content/examples/table/TableFetchExample.vue
  docs/app/components/content/examples/table/TableGlobalFilterExample.vue
  docs/app/components/content/examples/table/TableRowActionsExample.vue
  docs/app/components/content/examples/table/TableRowExpandableExample.vue
  docs/app/components/content/examples/table/TableRowSelectionExample.vue
  docs/app/pages/[...slug].vue
  docs/content/3.components/carousel.md
  docs/content/3.components/table.md
  docs/nuxt.config.ts
  docs/package.json
  package.json
  playground/app/app.vue
  playground/app/pages/components/table.vue
  pnpm-lock.yaml
  src/module.ts
  src/runtime/components/Carousel.vue
  src/runtime/components/Table.vue
  src/runtime/composables/useModal.ts
  src/runtime/composables/useSlideover.ts
  src/runtime/types/component.ts
  src/runtime/types/index.ts
  src/theme/command-palette.ts
  src/theme/index.ts
  src/theme/table.ts
  test/components/CommandPalette.spec.ts
  test/components/Table.spec.ts
  test/components/__snapshots__/CommandPalette.spec.ts.snap
  test/components/__snapshots__/Table.spec.ts.snap
Labels: v3

#2452 playground(popover): update text
  playground/app/pages/components/popover.vue
Labels: v3

#2459 chore(deps): update `@nuxthub/core`
  docs/package.json
  pnpm-lock.yaml
Labels: v3

#2478 docs(table): fix examples width
  docs/app/components/content/examples/table/TableColumnFiltersExample.vue
  docs/app/components/content/examples/table/TableColumnVisibilityExample.vue
  docs/app/components/content/examples/table/TableExample.vue
  docs/app/components/content/examples/table/TableGlobalFilterExample.vue
  docs/app/components/content/examples/table/TableRowSelectionExample.vue
Labels: documentation, v3

#2476 fix(NavigationMenu): add missing `min-w-0` to make truncate work
  src/theme/navigation-menu.ts
  test/components/__snapshots__/NavigationMenu-vue.spec.ts.snap
  test/components/__snapshots__/NavigationMenu.spec.ts.snap
Labels: v3

#2471 fix(InputMenu/Select/SelectMenu): improve types
  playground/app/pages/components/input-menu.vue
  playground/app/pages/components/select-menu.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/Select.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/types/utils.ts
  test/components/InputMenu.spec.ts
  test/components/Select.spec.ts
  test/components/SelectMenu.spec.ts
  test/utils/types.ts
Labels: v3

#2480 docs(use-toast): add `App` component warning
  docs/content/2.composables/use-toast.md
Labels: documentation, v3

#2433 feat(components): improve RTL support
  playground-vue/src/app.vue
  playground/app/app.vue
  playground/app/pages/components/badge.vue
  playground/app/pages/components/button-group.vue
  playground/app/pages/components/button.vue
  playground/app/pages/components/checkbox.vue
  playground/app/pages/components/form-field.vue
  playground/app/pages/components/kbd.vue
  playground/app/pages/components/navigation-menu.vue
  playground/app/pages/components/radio-group.vue
  playground/app/pages/components/switch.vue
  playground/app/pages/components/table.vue
  playground/app/pages/components/tooltip.vue
  src/theme/accordion.ts
  src/theme/carousel.ts
  src/theme/command-palette.ts
  src/theme/input.ts
  src/theme/modal.ts
  src/theme/navigation-menu.ts
  src/theme/slideover.ts
  src/theme/switch.ts
  src/theme/table.ts
  src/theme/tabs.ts
  src/theme/tooltip.ts
  test/components/Modal.spec.ts
  test/components/Slideover.spec.ts
  test/components/__snapshots__/Accordion-vue.spec.ts.snap
  test/components/__snapshots__/Accordion.spec.ts.snap
  test/components/__snapshots__/Carousel-vue.spec.ts.snap
  test/components/__snapshots__/Carousel.spec.ts.snap
  test/components/__snapshots__/CommandPalette-vue.spec.ts.snap
  test/components/__snapshots__/CommandPalette.spec.ts.snap
  test/components/__snapshots__/Input-vue.spec.ts.snap
  test/components/__snapshots__/Input.spec.ts.snap
  test/components/__snapshots__/InputMenu-vue.spec.ts.snap
  test/components/__snapshots__/InputMenu.spec.ts.snap
  test/components/__snapshots__/Modal-vue.spec.ts.snap
  test/components/__snapshots__/Modal.spec.ts.snap
  test/components/__snapshots__/Select-vue.spec.ts.snap
  test/components/__snapshots__/Select.spec.ts.snap
  test/components/__snapshots__/SelectMenu-vue.spec.ts.snap
  test/components/__snapshots__/SelectMenu.spec.ts.snap
  test/components/__snapshots__/Slideover-vue.spec.ts.snap
  test/components/__snapshots__/Slideover.spec.ts.snap
  test/components/__snapshots__/Switch-vue.spec.ts.snap
  test/components/__snapshots__/Switch.spec.ts.snap
  test/components/__snapshots__/Table-vue.spec.ts.snap
  test/components/__snapshots__/Table.spec.ts.snap
  test/components/__snapshots__/Tooltip-vue.spec.ts.snap
  test/components/__snapshots__/Tooltip.spec.ts.snap
Labels: v3

#2482 fix(NavigationMenu): improve generic types
  src/runtime/components/InputMenu.vue
  src/runtime/components/NavigationMenu.vue
  src/runtime/components/Select.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/types/utils.ts
  test/components/NavigationMenu.spec.ts
  test/utils/types.ts
Labels: v3

#2457 feat(Table): customize `header` and `cell` through slots
  docs/app/components/content/examples/table/TableSlotsExample.vue
  docs/content/3.components/table.md
  src/runtime/components/Table.vue
  test/components/Table.spec.ts
  test/components/__snapshots__/Table-vue.spec.ts.snap
  test/components/__snapshots__/Table.spec.ts.snap
Labels: v3

#2379 docs: update to `@nuxt/content@next`
  docs/app/app.vue
  docs/app/components/Header.vue
  docs/app/components/content/ComponentCode.vue
  docs/app/components/content/ComponentEmits.vue
  docs/app/components/content/ComponentProps.vue
  docs/app/components/content/ComponentSlots.vue
  docs/app/error.vue
  docs/app/layouts/docs.vue
  docs/app/pages/[...slug].vue
  docs/content.config.ts
  docs/content/1.getting-started/.navigation.yml
  docs/content/1.getting-started/_dir.yml
  docs/content/3.components/meter.md
  docs/nuxt.config.ts
  docs/package.json
  pnpm-lock.yaml
Labels: v3

#2494 feat(Kbd): special keys for macOS and other systems
  docs/content/3.components/kbd.md
  src/runtime/composables/defineShortcuts.ts
  src/runtime/composables/useKbd.ts
  test/components/__snapshots__/CommandPalette-vue.spec.ts.snap
  test/components/__snapshots__/CommandPalette.spec.ts.snap
  test/components/__snapshots__/DropdownMenu-vue.spec.ts.snap
  test/components/__snapshots__/DropdownMenu.spec.ts.snap
  test/components/__snapshots__/Tooltip-vue.spec.ts.snap
  test/components/__snapshots__/Tooltip.spec.ts.snap
Labels: v3
