Repository nuxt/ui, pull requests merged in 2024-11, with the labels that each got.

#2497 feat(Badge): handle `icon` and `avatar` props
  docs/content/3.components/badge.md
  playground/app/pages/components/badge.vue
  src/runtime/components/Badge.vue
  src/theme/badge.ts
  test/components/Badge.spec.ts
  test/components/__snapshots__/Badge-vue.spec.ts.snap
  test/components/__snapshots__/Badge.spec.ts.snap
  test/components/__snapshots__/Table-vue.spec.ts.snap
  test/components/__snapshots__/Table.spec.ts.snap
Labels: v3

#2510 feat(DropdownMenu/ContextMenu): handle `color` field in items
  docs/app/components/content/examples/context-menu/ContextMenuColorItemsExample.vue
  docs/app/components/content/examples/dropdown-menu/DropdownMenuColorItemsExample.vue
  docs/content/3.components/context-menu.md
  docs/content/3.components/dropdown-menu.md
  playground/app/pages/components/context-menu.vue
  playground/app/pages/components/dropdown-menu.vue
  src/runtime/components/ContextMenu.vue
  src/runtime/components/ContextMenuContent.vue
  src/runtime/components/DropdownMenu.vue
  src/runtime/components/DropdownMenuContent.vue
  src/theme/context-menu.ts
  src/theme/dropdown-menu.ts
  test/components/ContextMenu.spec.ts
  test/components/DropdownMenu.spec.ts
  test/components/__snapshots__/DropdownMenu-vue.spec.ts.snap
  test/components/__snapshots__/DropdownMenu.spec.ts.snap
Labels: v3

#2544 fix(Table): types in undeclared slots
  docs/app/components/content/examples/table/TableSlotsExample.vue
  src/runtime/components/Table.vue
Labels: v3

#2551 fix(Table): missing type on props `loadingState`
  src/runtime/components/data/Table.vue
Labels: bug

#2553 feat(module): support i18n in components
  docs/app/app.vue
  docs/content/1.getting-started/7.i18n/1.nuxt.md
  docs/content/1.getting-started/7.i18n/2.vue.md
  docs/content/3.components/0.app.md
  docs/nuxt.config.ts
  package.json
  src/runtime/components/Alert.vue
  src/runtime/components/App.vue
  src/runtime/components/Carousel.vue
  src/runtime/components/CommandPalette.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/Modal.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/components/Slideover.vue
  src/runtime/components/Table.vue
  src/runtime/components/Toast.vue
  src/runtime/composables/defineLocale.ts
  src/runtime/composables/useLocale.ts
  src/runtime/locale/de.ts
  src/runtime/locale/en.ts
  src/runtime/locale/fr.ts
  src/runtime/locale/index.ts
  src/runtime/locale/ru.ts
  src/runtime/types/index.ts
  src/runtime/types/locale.ts
  src/runtime/utils/locale.ts
  test/components/__snapshots__/CommandPalette-vue.spec.ts.snap
  test/components/__snapshots__/CommandPalette.spec.ts.snap
  test/components/__snapshots__/Table-vue.spec.ts.snap
  test/components/__snapshots__/Table.spec.ts.snap
Labels: v3

#2549 feat(Table): allow dynamically render `checkbox`
  docs/components/content/examples/TableExampleAdvanced.vue
  docs/components/content/examples/TableExampleDynamicallyRenderSelectable.vue
  docs/content/2.components/table.md
  src/runtime/components/data/Table.vue
Labels: enhancement

#2583 feat(locale): add support for Italian
  src/runtime/locale/index.ts
  src/runtime/locale/it.ts
Labels: v3

#2584 fix(locale): Italian translation
  src/runtime/locale/it.ts
Labels: v3

#2601 feat(FormField): add `error-pattern` prop
  docs/content/3.components/form.md
  src/runtime/components/FormField.vue
  test/components/Form.spec.ts
Labels: v3

#2603 fix(useLocale): missing import in various components
  src/runtime/components/Alert.vue
  src/runtime/components/App.vue
  src/runtime/components/Carousel.vue
  src/runtime/components/CommandPalette.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/Modal.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/components/Slideover.vue
  src/runtime/components/Table.vue
  src/runtime/components/Toast.vue
Labels: v3

#2606 fix(Form): match `error-pattern` on input validation
  playground/app/components/FormElementsExample.vue
  src/runtime/components/Form.vue
  src/runtime/components/FormField.vue
  src/runtime/composables/useFormField.ts
  src/runtime/types/form.ts
Labels: v3

#2616 cli: add doc template
  cli/templates.mjs
Labels: v3

#2472 feat(InputMenu/SelectMenu): add `create-item` prop
  docs/content/3.components/input-menu.md
  docs/content/3.components/select-menu.md
  src/runtime/components/Alert.vue
  src/runtime/components/Carousel.vue
  src/runtime/components/CommandPalette.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/Modal.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/components/Slideover.vue
  src/runtime/components/Table.vue
  src/runtime/components/Toast.vue
  src/runtime/locale/ar.ts
  src/runtime/locale/cs.ts
  src/runtime/locale/de.ts
  src/runtime/locale/en.ts
  src/runtime/locale/fr.ts
  src/runtime/locale/it.ts
  src/runtime/locale/ru.ts
  src/runtime/locale/zh_hans.ts
  src/runtime/locale/zh_hant.ts
  src/runtime/types/locale.ts
  test/components/InputMenu.spec.ts
  test/components/SelectMenu.spec.ts
  test/components/__snapshots__/InputMenu-vue.spec.ts.snap
  test/components/__snapshots__/InputMenu.spec.ts.snap
  test/components/__snapshots__/SelectMenu-vue.spec.ts.snap
  test/components/__snapshots__/SelectMenu.spec.ts.snap
Labels: v3

#2570 feat(PinInput): implement component
  docs/app/components/content/ComponentCode.vue
  docs/app/components/content/examples/form/FormExampleElements.vue
  docs/content/3.components/pin-input.md
  playground-vue/src/app.vue
  playground/app/app.vue
  playground/app/pages/components/pin-input.vue
  src/runtime/components/PinInput.vue
  src/runtime/types/index.ts
  src/theme/index.ts
  src/theme/input-menu.ts
  src/theme/input.ts
  src/theme/pin-input.ts
  test/components/PinInput.spec.ts
  test/components/__snapshots__/ButtonGroup-vue.spec.ts.snap
  test/components/__snapshots__/ButtonGroup.spec.ts.snap
  test/components/__snapshots__/CommandPalette-vue.spec.ts.snap
  test/components/__snapshots__/CommandPalette.spec.ts.snap
  test/components/__snapshots__/Form-vue.spec.ts.snap
  test/components/__snapshots__/Form.spec.ts.snap
  test/components/__snapshots__/Input-vue.spec.ts.snap
  test/components/__snapshots__/Input.spec.ts.snap
  test/components/__snapshots__/InputMenu-vue.spec.ts.snap
  test/components/__snapshots__/InputMenu.spec.ts.snap
  test/components/__snapshots__/PinInput-vue.spec.ts.snap
  test/components/__snapshots__/PinInput.spec.ts.snap
  test/components/__snapshots__/Select-vue.spec.ts.snap
  test/components/__snapshots__/Select.spec.ts.snap
  test/components/__snapshots__/SelectMenu-vue.spec.ts.snap
  test/components/__snapshots__/SelectMenu.spec.ts.snap
  test/components/__snapshots__/Textarea-vue.spec.ts.snap
  test/components/__snapshots__/Textarea.spec.ts.snap
  test/utils/form.ts
Labels: v3

#2663 feat(Link): allow partial query match for `activeClass`
  docs/content/2.components/link.md
  src/runtime/components/elements/Link.vue
Labels: enhancement

#2664 feat(Link): allow partial query match for its active state
  docs/content/3.components/link.md
  src/runtime/components/Link.vue
Labels: enhancement, v3

#2577 feat(InputNumber): implement component
  docs/app/components/content/ComponentCode.vue
  docs/app/components/content/ComponentExample.vue
  docs/app/components/content/examples/form/FormExampleElements.vue
  docs/app/components/content/examples/input-number/InputNumberCurrencyExample.vue
  docs/app/components/content/examples/input-number/InputNumberDecimalExample.vue
  docs/app/components/content/examples/input-number/InputNumberFormFieldExample.vue
  docs/app/components/content/examples/input-number/InputNumberPercentageExample.vue
  docs/app/components/content/examples/input-number/InputNumberSlotsExample.vue
  docs/app/components/content/examples/input/InputClearButtonExample.vue
  docs/app/components/content/examples/input/InputPasswordStrengthIndicatorExample.vue
  docs/app/components/content/examples/input/InputPasswordToggleExample.vue
  docs/content/3.components/carousel.md
  docs/content/3.components/input-number.md
  docs/content/3.components/input.md
  docs/content/3.components/pin-input.md
  package.json
  playground/app/app.vue
  playground/app/pages/components/input-number.vue
  pnpm-lock.yaml
  src/runtime/components/InputNumber.vue
  src/runtime/locale/ar.ts
  src/runtime/locale/cs.ts
  src/runtime/locale/de.ts
  src/runtime/locale/en.ts
  src/runtime/locale/es.ts
  src/runtime/locale/fr.ts
  src/runtime/locale/it.ts
  src/runtime/locale/ru.ts
  src/runtime/locale/zh_hans.ts
  src/runtime/locale/zh_hant.ts
  src/runtime/types/index.ts
  src/runtime/types/locale.ts
  src/theme/icons.ts
  src/theme/index.ts
  src/theme/input-number.ts
  test/components/InputNumber.spec.ts
  test/components/__snapshots__/InputNumber-vue.spec.ts.snap
  test/components/__snapshots__/InputNumber.spec.ts.snap
  test/utils/form.ts
Labels: v3

#2681 fix(Textarea): `autoresize` does not work when initializing `modelValue`
  src/runtime/components/Textarea.vue
Labels: v3

#2652 fix(components): replace `as const` with correct type in config
  docs/components/content/examples/CommandPaletteExampleThemeRaycast.vue
  src/runtime/types/checkbox.d.ts
  src/runtime/types/divider.d.ts
  src/runtime/types/index.ts
  src/runtime/ui.config/data/table.ts
  src/runtime/ui.config/elements/accordion.ts
  src/runtime/ui.config/elements/alert.ts
  src/runtime/ui.config/elements/carousel.ts
  src/runtime/ui.config/elements/dropdown.ts
  src/runtime/ui.config/forms/inputMenu.ts
  src/runtime/ui.config/layout/divider.ts
  src/runtime/ui.config/navigation/commandPalette.ts
  src/runtime/ui.config/navigation/horizontalNavigation.ts
  src/runtime/ui.config/navigation/pagination.ts
  src/runtime/ui.config/navigation/verticalNavigation.ts
  src/runtime/ui.config/overlays/notification.ts
Labels: bug

#2702 fix(Form)!: resolve async validation in yup & issue directly mutate state
  src/runtime/components/Form.vue
  src/runtime/utils/form.ts
  test/components/Form.spec.ts
Labels: v3

#2661 feat(Notification): add `pauseTimeoutOnHover` prop
  docs/content/2.components/notification.md
  src/runtime/components/overlays/Notification.vue
Labels: enhancement

#2618 feat(Calendar): implement component
  docs/app/components/content/ComponentCode.vue
  docs/app/components/content/examples/calendar/CalendarDatePickerExample.vue
  docs/app/components/content/examples/calendar/CalendarDateRangePickerExample.vue
  docs/app/components/content/examples/calendar/CalendarDisabledDatesExample.vue
  docs/app/components/content/examples/calendar/CalendarEventsExample.vue
  docs/app/components/content/examples/calendar/CalendarMinMaxDatesExample.vue
  docs/app/components/content/examples/calendar/CalendarUnavailableDatesExample.vue
  docs/content/3.components/calendar.md
  docs/content/3.components/input-menu.md
  docs/content/3.components/input-number.md
  docs/content/3.components/select-menu.md
  package.json
  playground/app/app.vue
  playground/app/pages/components/calendar.vue
  pnpm-lock.yaml
  src/runtime/components/Calendar.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/locale/ar.ts
  src/runtime/locale/cs.ts
  src/runtime/locale/de.ts
  src/runtime/locale/en.ts
  src/runtime/locale/es.ts
  src/runtime/locale/fa_ir.ts
  src/runtime/locale/fr.ts
  src/runtime/locale/it.ts
  src/runtime/locale/ko.ts
  src/runtime/locale/nl.ts
  src/runtime/locale/pl.ts
  src/runtime/locale/ru.ts
  src/runtime/locale/tr.ts
  src/runtime/locale/zh_hans.ts
  src/runtime/locale/zh_hant.ts
  src/runtime/types/index.ts
  src/runtime/types/locale.ts
  src/theme/calendar.ts
  src/theme/index.ts
  test/components/Calendar.spec.ts
  test/components/__snapshots__/Calendar-vue.spec.ts.snap
  test/components/__snapshots__/Calendar.spec.ts.snap
Labels: v3

#2771 fix(Table): handle `loading` animation in RTL mode
  src/theme/table.ts
  test/components/__snapshots__/Table-vue.spec.ts.snap
  test/components/__snapshots__/Table.spec.ts.snap
Labels: v3

#2781 fix(Link): `exactQuery` prop type
  src/runtime/types/link.d.ts
Labels: bug

#2798 fix(ContextMenu): remove close animation
  src/theme/context-menu.ts
Labels: v3
