Repository nuxt/ui, pull requests merged in 2025-09, with the labels that each got.

#4853 fix(components): broken types for `update:model-value` event
  src/runtime/components/Checkbox.vue
  src/runtime/components/CheckboxGroup.vue
  src/runtime/components/Chip.vue
  src/runtime/components/ColorPicker.vue
  src/runtime/components/FileUpload.vue
  src/runtime/components/Form.vue
  src/runtime/components/Input.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/InputNumber.vue
  src/runtime/components/PinInput.vue
  src/runtime/components/RadioGroup.vue
  src/runtime/components/Select.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/components/Slider.vue
  src/runtime/components/Stepper.vue
  src/runtime/components/Switch.vue
  src/runtime/components/Textarea.vue
  src/runtime/types/utils.ts
Labels: v3

#4871 chore(readme): update npm badge to alpha version
  README.md
Labels: v4

#4867 chore(github): use templates in module workflow
  .github/workflows/module.yml
Labels: v4

#4898 docs(team): improve cards padding
  docs/app/pages/team.vue
Labels: v4

#4878 docs(mcp): add server
  docs/.env.example
  docs/content/docs/1.getting-started/7.ai/1.mcp.md
  docs/package.json
  docs/server/api/mcp/get-component-metadata.ts
  docs/server/api/mcp/get-component.ts
  docs/server/api/mcp/get-migration-guide.ts
  docs/server/api/mcp/get-template.ts
  docs/server/api/mcp/list-components.ts
  docs/server/api/mcp/list-composables.ts
  docs/server/api/mcp/list-documentation-pages.ts
  docs/server/api/mcp/list-examples.ts
  docs/server/api/mcp/list-getting-started-guides.ts
  docs/server/api/mcp/list-templates.ts
  docs/server/api/mcp/search-components-by-category.ts
  docs/server/routes/mcp.ts
  docs/server/utils/normalizeComponentName.ts
  pnpm-lock.yaml
Labels: documentation, v4

#4962 feat(locale): add Swiss German language
  src/runtime/locale/de_ch.ts
  src/runtime/locale/index.ts
Labels: v4

#4969 fix(components): proxySlots reactivity
  src/runtime/components/ChangelogVersions.vue
  src/runtime/components/ChatMessages.vue
  src/runtime/components/ChatPrompt.vue
  src/runtime/components/CheckboxGroup.vue
  src/runtime/components/ContextMenu.vue
  src/runtime/components/ContextMenuContent.vue
  src/runtime/components/DashboardSearch.vue
  src/runtime/components/DashboardSearchButton.vue
  src/runtime/components/DropdownMenu.vue
  src/runtime/components/DropdownMenuContent.vue
  src/runtime/components/content/ContentSearch.vue
  src/runtime/components/content/ContentSearchButton.vue
Labels: v4

#4973 feat(locale): add Georgian language
  docs/app/components/content/SupportedLanguages.vue
  src/runtime/locale/index.ts
  src/runtime/locale/ka.ts
Labels: v4

#4950 docs(changelog): fetch commits from github api
  docs/app/components/content/ComponentChangelog.vue
  docs/app/components/content/ComponentProps.vue
  docs/content/docs/2.components/color-mode-avatar.md
  docs/content/docs/2.components/color-mode-button.md
  docs/content/docs/2.components/color-mode-image.md
  docs/content/docs/2.components/color-mode-select.md
  docs/content/docs/2.components/color-mode-switch.md
  docs/content/docs/2.components/content-navigation.md
  docs/content/docs/2.components/content-search-button.md
  docs/content/docs/2.components/content-search.md
  docs/content/docs/2.components/content-surround.md
  docs/content/docs/2.components/content-toc.md
  docs/content/docs/2.components/locale-select.md
  docs/content/docs/2.components/page-cta.md
  docs/content/docs/4.typography/4.images-and-embeds.md
  docs/content/docs/4.typography/5.code.md
  docs/content/docs/4.typography/accordion.md
  docs/content/docs/4.typography/badge.md
  docs/content/docs/4.typography/callout.md
  docs/content/docs/4.typography/card-group.md
  docs/content/docs/4.typography/card.md
  docs/content/docs/4.typography/code-collapse.md
  docs/content/docs/4.typography/code-group.md
  docs/content/docs/4.typography/code-preview.md
  docs/content/docs/4.typography/code-tree.md
  docs/content/docs/4.typography/collapsible.md
  docs/content/docs/4.typography/field-group.md
  docs/content/docs/4.typography/field.md
  docs/content/docs/4.typography/icon.md
  docs/content/docs/4.typography/kbd.md
  docs/content/docs/4.typography/steps.md
  docs/content/docs/4.typography/tabs.md
  docs/modules/changelog.ts
  docs/server/api/github/commits.get.ts
Labels: documentation, v4

#4986 docs(mcp): add `Le Chat Mistral` and order alphabetically
  docs/content/docs/1.getting-started/7.ai/1.mcp.md
Labels: documentation, v4

#4954 chore(deps): bump vue-sfc-transformer + mkdist
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: v4

#4972 docs(index): improve with css variables section
  docs/app/pages/index.vue
  docs/content.config.ts
  docs/content/index.yml
Labels: documentation, v4

#4887 fix(Marquee): handle RTL mode
  src/runtime/components/Marquee.vue
  src/theme/marquee.ts
  test/components/__snapshots__/Marquee-vue.spec.ts.snap
  test/components/__snapshots__/Marquee.spec.ts.snap
Labels: v4

#4994 fix(Progress): improve `status-position` when 0
  src/runtime/components/Progress.vue
  src/theme/progress.ts
  test/components/__snapshots__/Progress-vue.spec.ts.snap
  test/components/__snapshots__/Progress.spec.ts.snap
Labels: v4

#4988 docs(nuxt.config): remove `noreferrer` for external links
  docs/nuxt.config.ts
Labels: v4

#4902 fix(Form)!: don't mutate the form's state if transformations are enabled
  docs/app/components/content/examples/form/FormExampleNested.vue
  docs/app/components/content/examples/form/FormExampleNestedList.vue
  docs/content/docs/1.getting-started/3.migration/1.v4.md
  docs/content/docs/2.components/form.md
  src/runtime/components/Form.vue
  src/runtime/composables/useFormField.ts
  src/runtime/types/form.ts
  src/runtime/utils/form.ts
  test/components/Form.spec.ts
  test/components/Input.spec.ts
  test/components/Textarea.spec.ts
  test/components/__snapshots__/Form-vue.spec.ts.snap
  test/components/__snapshots__/Form.spec.ts.snap
  test/components/fixtures/FormBasic.vue
  test/components/fixtures/FormErrorPattern.vue
  test/components/fixtures/FormNested.vue
  test/components/fixtures/FormTransform.vue
  test/utils/form.spec.ts
  test/utils/form.ts
  vitest.config.ts
Labels: v4

#4997 fix(ProseImg): add `w-full` by default
  src/theme/prose/img.ts
Labels: v4

#4872 docs(dropdown-menu): add trigger content width example
  docs/app/components/content/examples/dropdown-menu/DropdownMenuContentWidthExample.vue
  docs/content/docs/2.components/dropdown-menu.md
  docs/content/docs/2.components/input-menu.md
  docs/content/docs/2.components/select-menu.md
  docs/content/docs/2.components/select.md
Labels: documentation, v4

#5003 fix(locale): improve translations in `pt` locale
  src/runtime/locale/pt.ts
Labels: v4

#4999 fix(Tree): remove `value-key` in favor of `get-key`
  docs/app/components/content/examples/tree/TreeExpandedExample.vue
  docs/content/docs/2.components/tree.md
  playgrounds/nuxt/app/pages/components/tree.vue
  src/runtime/components/Tree.vue
  test/components/Tree.spec.ts
  test/components/__snapshots__/Tree-vue.spec.ts.snap
  test/components/__snapshots__/Tree.spec.ts.snap
Labels: v4

#5024 fix(Form): improve nested form validation handling
  src/runtime/components/Form.vue
  src/runtime/components/FormField.vue
  src/runtime/composables/useFormField.ts
  test/components/Form.spec.ts
  test/components/fixtures/FormEmptyFields.vue
Labels: v4

#5036 fix(ChatMessages): wrap indicator with slot
  docs/app/components/content/examples/chat/ChatMessagesIndicatorSlotExample.vue
  docs/content/docs/2.components/chat-messages.md
  src/runtime/components/ChatMessages.vue
  test/components/ChatMessages.spec.ts
  test/components/__snapshots__/ChatMessages-vue.spec.ts.snap
  test/components/__snapshots__/ChatMessages.spec.ts.snap
Labels: v4

#4795 docs(table): add example with tree data
  docs/app/components/content/examples/table/TableTreeDataExample.vue
  docs/content/3.components/table.md
Labels: documentation, v3

#5059 docs: use relative imports for .yml
  docs/app/pages/figma/index.vue
  docs/app/pages/index.vue
  docs/app/pages/pro/index.vue
  docs/app/pages/pro/pricing.vue
  docs/app/pages/pro/templates.vue
Labels: v3

#5066 docs(components): remove deprecated `z.string().email()` from examples
  docs/app/components/content/examples/auth-form/AuthFormExample.vue
  docs/app/components/content/examples/auth-form/AuthFormPageExample.vue
  docs/app/components/content/examples/form/FormExampleZod.vue
  playgrounds/nuxt/app/pages/components/form.vue
  test/components/fixtures/FormNested.vue
Labels: documentation, v4

#5067 docs(css-variables): fix responsiveness of colors example
  docs/content/docs/1.getting-started/5.theme/2.css-variables.md
Labels: documentation, v4

#5072 fix(Carousel): invert arrow keys in RTL direction
  src/runtime/components/Carousel.vue
Labels: v4

#5074 docs(content): fix source paths and warn in migration guide
  docs/content/docs/1.getting-started/3.migration/1.v4.md
  docs/content/docs/1.getting-started/6.integrations/5.content.md
Labels: v4

#5089 fix(vue): align `useCookie` stub with nuxt's default value handling
  src/runtime/inertia/stubs.ts
  src/runtime/vue/stubs.ts
  test/components/__snapshots__/DashboardSidebar-vue.spec.ts.snap
Labels: v4

#5081 fix(Pagination): make ellipsis non-interactive
  src/runtime/components/Pagination.vue
  test/components/__snapshots__/Pagination-vue.spec.ts.snap
  test/components/__snapshots__/Pagination.spec.ts.snap
Labels: v4

#5111 fix(App): allow global portal disabling
  src/runtime/components/App.vue
  src/runtime/composables/usePortal.ts
Labels: v4

#4114 docs(app): implement AI search
  docs/app/app.vue
  docs/app/components/prose/PreStream.vue
  docs/app/components/search/Search.vue
  docs/app/components/search/SearchChat.vue
  docs/app/composables/useHighlighter.ts
  docs/app/error.vue
  docs/package.json
  docs/server/api/search.ts
  pnpm-lock.yaml
Labels: documentation, v4
