Repository nuxt/ui, pull requests merged in 2025-01, with the labels that each got.

#3030 docs(app): handle `prose` components
  docs/app/app.vue
  docs/app/components/content/ComponentCode.vue
  docs/app/components/content/ComponentEmits.vue
  docs/app/components/content/ComponentProps.vue
  docs/app/components/content/ComponentSlots.vue
  docs/app/components/content/ComponentTheme.vue
Labels: documentation

#2938 feat(module): allow `tv` customization through `app.config`
  cli/templates.mjs
  src/runtime/components/Accordion.vue
  src/runtime/components/Alert.vue
  src/runtime/components/Avatar.vue
  src/runtime/components/AvatarGroup.vue
  src/runtime/components/Badge.vue
  src/runtime/components/Breadcrumb.vue
  src/runtime/components/Button.vue
  src/runtime/components/ButtonGroup.vue
  src/runtime/components/Calendar.vue
  src/runtime/components/Card.vue
  src/runtime/components/Carousel.vue
  src/runtime/components/Checkbox.vue
  src/runtime/components/Chip.vue
  src/runtime/components/Collapsible.vue
  src/runtime/components/ColorPicker.vue
  src/runtime/components/CommandPalette.vue
  src/runtime/components/Container.vue
  src/runtime/components/ContextMenu.vue
  src/runtime/components/ContextMenuContent.vue
  src/runtime/components/Drawer.vue
  src/runtime/components/DropdownMenu.vue
  src/runtime/components/DropdownMenuContent.vue
  src/runtime/components/Form.vue
  src/runtime/components/FormField.vue
  src/runtime/components/Input.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/InputNumber.vue
  src/runtime/components/Kbd.vue
  src/runtime/components/Link.vue
  src/runtime/components/Modal.vue
  src/runtime/components/NavigationMenu.vue
  src/runtime/components/Pagination.vue
  src/runtime/components/PinInput.vue
  src/runtime/components/Popover.vue
  src/runtime/components/Progress.vue
  src/runtime/components/RadioGroup.vue
  src/runtime/components/Select.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/components/Separator.vue
  src/runtime/components/Skeleton.vue
  src/runtime/components/Slideover.vue
  src/runtime/components/Slider.vue
  src/runtime/components/Stepper.vue
  src/runtime/components/Switch.vue
  src/runtime/components/Table.vue
  src/runtime/components/Tabs.vue
  src/runtime/components/Textarea.vue
  src/runtime/components/Toast.vue
  src/runtime/components/Toaster.vue
  src/runtime/components/Tooltip.vue
  src/runtime/utils/tv.ts
  src/templates.ts
Labels: v3

#3029 refactor(Form): rename validation functions and vars for clarity
  src/runtime/components/Form.vue
  src/runtime/types/form.ts
  src/runtime/utils/form.ts
  test/components/Form.spec.ts
Labels: v3

#3082 fix(SelectMenu): handle `resetSearchTermOnBlur` manually
  src/runtime/components/SelectMenu.vue
Labels: v3

#2881 fix(components): enable pointer events on menus
  src/theme/context-menu.ts
  src/theme/dropdown-menu.ts
  src/theme/input-menu.ts
  src/theme/popover.ts
  src/theme/select.ts
  src/theme/tooltip.ts
  test/components/__snapshots__/ContextMenu-vue.spec.ts.snap
  test/components/__snapshots__/ContextMenu.spec.ts.snap
  test/components/__snapshots__/DropdownMenu-vue.spec.ts.snap
  test/components/__snapshots__/DropdownMenu.spec.ts.snap
  test/components/__snapshots__/InputMenu-vue.spec.ts.snap
  test/components/__snapshots__/InputMenu.spec.ts.snap
  test/components/__snapshots__/Popover-vue.spec.ts.snap
  test/components/__snapshots__/Popover.spec.ts.snap
  test/components/__snapshots__/Select-vue.spec.ts.snap
  test/components/__snapshots__/Select.spec.ts.snap
  test/components/__snapshots__/SelectMenu-vue.spec.ts.snap
  test/components/__snapshots__/SelectMenu.spec.ts.snap
  test/components/__snapshots__/Tooltip-vue.spec.ts.snap
  test/components/__snapshots__/Tooltip.spec.ts.snap
Labels: v3

#3083 fix(Alert): allow actions wrap
  playground/app/pages/components/alert.vue
  src/theme/alert.ts
  test/components/__snapshots__/Alert-vue.spec.ts.snap
  test/components/__snapshots__/Alert.spec.ts.snap
Labels: v3

#3096 docs(ComponentSlots): support custom slug
  docs/app/components/content/ComponentSlots.vue
Labels: enhancement

#3028 fix(Form)!: include nested state in submit data
  docs/content/3.components/form.md
  src/runtime/components/Form.vue
  src/runtime/types/form.ts
  test/components/Form.spec.ts
Labels: v3

#3076 docs(contribution): add guide
  docs/app/pages/[...slug].vue
  docs/content/1.getting-started/contribution.md
Labels: documentation, v3

#3131 docs(modal/slideover): improve programmatic examples
  docs/app/components/content/examples/modal/ModalExample.vue
  docs/app/components/content/examples/modal/ModalProgrammaticExample.vue
  docs/app/components/content/examples/slideover/SlideoverExample.vue
  docs/app/components/content/examples/slideover/SlideoverProgrammaticExample.vue
Labels: enhancement

#3115 docs(app): add `h-64` to safelist
  docs/app/app.vue
Labels: enhancement

#3149 docs(input): fix `aria-label` on examples
  docs/app/components/content/examples/input/InputPasswordStrengthIndicatorExample.vue
  docs/app/components/content/examples/input/InputPasswordToggleExample.vue
Labels: v3

#3104 fix(Form): standard schema validation no longer wrapped in `value` object
  src/runtime/utils/form.ts
Labels: bug, v3

#3134 fix(locale): remove emoji fallback for Chinese
  docs/app/components/content/SupportedLanguages.vue
  src/runtime/locale/index.ts
  src/runtime/locale/zh_cn.ts
  src/runtime/locale/zh_tw.ts
Labels: v3

#3129 feat(locale): add Hungarian language
  src/runtime/locale/hu.ts
Labels: v3

#3137 feat(Form): form validation properties
  docs/content/3.components/form.md
  src/runtime/components/Form.vue
  src/runtime/components/Input.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/InputNumber.vue
  src/runtime/components/PinInput.vue
  src/runtime/components/Select.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/components/Textarea.vue
  src/runtime/composables/useFormField.ts
  src/runtime/types/form.ts
  test/components/Form.spec.ts
Labels: v3
