Repository nuxt/ui, pull requests merged in 2025-04, with the labels that each got.

#3659 docs: add showcase page
  docs/app/components/SkyBg.vue
  docs/app/composables/useLinks.ts
  docs/app/composables/useSearchLinks.ts
  docs/app/pages/index.vue
  docs/app/pages/showcase.vue
  docs/content.config.ts
  docs/content/showcase.yml
  docs/modules/screenshot.ts
  docs/package.json
  docs/public/assets/showcase/details.png
  docs/public/assets/showcase/directus-docs.png
  docs/public/assets/showcase/espace-asso-by-benevolt.png
  docs/public/assets/showcase/shelve.png
  docs/public/assets/showcase/super-saas.png
  docs/public/assets/showcase/uneed.png
  pnpm-lock.yaml
Labels: documentation, enhancement

#3779 fix(InputMenu/SelectMenu): support arbitrary `value`
  src/runtime/components/InputMenu.vue
  src/runtime/components/SelectMenu.vue
  test/components/InputMenu.spec.ts
  test/components/SelectMenu.spec.ts
Labels: bug, typescript

#3799 chore(deps): update `@nuxt/module-builder`
  build.config.ts
  package.json
  pnpm-lock.yaml
  src/runtime/plugins/colors.ts
Labels: v3

#3836 fix(Tree): simplify reusable template types
  src/runtime/components/Tree.vue
Labels: bug, typescript

#3479 chore: run test suite on windows
  .github/workflows/docs.yml
  .github/workflows/module.yml
  .npmrc
  build.config.ts
  package.json
  src/templates.ts
Labels: v3

#3575 docs(prettier): load from `jsdelivr.net` instead of `unpkg.com`
  docs/app/workers/prettier.js
Labels: v3

#3796 fix(Form): loses focus on submit
  src/runtime/components/Form.vue
Labels: v3

#3903 docs(color-mode): fix computed setter logic in `ColorModeButton.vue` example
  docs/content/1.getting-started/6.color-mode/1.nuxt.md
  playground/app/app.vue
Labels: v3

#3688 feat(App): add global `portal` prop
  src/runtime/components/App.vue
  src/runtime/components/ContextMenu.vue
  src/runtime/components/ContextMenuContent.vue
  src/runtime/components/Drawer.vue
  src/runtime/components/DropdownMenu.vue
  src/runtime/components/DropdownMenuContent.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/Modal.vue
  src/runtime/components/Popover.vue
  src/runtime/components/Select.vue
  src/runtime/components/SelectMenu.vue
  src/runtime/components/Slideover.vue
  src/runtime/components/Toaster.vue
  src/runtime/components/Tooltip.vue
  src/runtime/composables/usePortal.ts
Labels: v3

#3700 docs(table): add drag and drop example
  docs/app/components/content/examples/table/TableDragAndDropExample.vue
  docs/content/3.components/accordion.md
  docs/content/3.components/table.md
Labels: v3

#3656 docs(table): add infinite scroll example
  docs/app/components/content/examples/table/TableInfiniteScrollExample.vue
  docs/content/3.components/accordion.md
  docs/content/3.components/table.md
  src/runtime/components/Table.vue
Labels: v3

#3678 feat(Carousel): add `select` event
  docs/content/3.components/carousel.md
  src/runtime/components/Carousel.vue
Labels: v3

#3866 feat(Table): conditionally apply classes to `tr` and `td`
  docs/content/3.components/table.md
  src/runtime/components/Table.vue
Labels: v3

#3613 fix(Skeleton): improve accessibility
  src/runtime/components/Skeleton.vue
  src/theme/skeleton.ts
  test/components/__snapshots__/Skeleton-vue.spec.ts.snap
  test/components/__snapshots__/Skeleton.spec.ts.snap
Labels: v3

#3886 feat(components): add new `content-top` and `content-bottom` slots
  playground/app/pages/components/tabs.vue
  src/runtime/components/ContextMenu.vue
  src/runtime/components/ContextMenuContent.vue
  src/runtime/components/DropdownMenu.vue
  src/runtime/components/DropdownMenuContent.vue
  src/runtime/components/InputMenu.vue
  src/runtime/components/NavigationMenu.vue
  src/runtime/components/Select.vue
  src/runtime/components/SelectMenu.vue
Labels: v3
