Repository nuxt/ui, pull requests merged in 2025-08, with the labels that each got.

#4698 feat(components)!: upgrade `ai-sdk` to v5
  docs/.env.example
  docs/app/components/content/examples/chat/ChatPaletteContentSearchExample.vue
  docs/app/components/content/examples/chat/ChatPaletteModalExample.vue
  docs/content/docs/2.components/chat-message.md
  docs/content/docs/2.components/chat-messages.md
  docs/content/docs/2.components/chat-palette.md
  docs/content/docs/2.components/chat-prompt-submit.md
  docs/content/docs/2.components/chat-prompt.md
  docs/package.json
  docs/server/api/chat.ts
  package.json
  pnpm-lock.yaml
  src/runtime/components/ChatMessage.vue
  src/runtime/components/ChatMessages.vue
  src/runtime/components/ChatPromptSubmit.vue
  src/runtime/utils/ai.ts
  test/components/ChatMessage.spec.ts
  test/components/ChatMessages.spec.ts
  test/components/__snapshots__/ChatMessage-vue.spec.ts.snap
  test/components/__snapshots__/ChatMessage.spec.ts.snap
Labels: v4

#4720 fix(ProseImg): ensure unique motion layout id for images
  src/runtime/components/prose/Img.vue
Labels: v4

#4777 fix(ChangelogVersion/ChangelogVersions): handle RTL mode
  docs/app/components/content/examples/changelog/ChangelogVersionsStickyExample.vue
  src/theme/changelog-version.ts
  src/theme/changelog-versions.ts
  test/components/__snapshots__/ChangelogVersion-vue.spec.ts.snap
  test/components/__snapshots__/ChangelogVersion.spec.ts.snap
  test/components/__snapshots__/ChangelogVersions-vue.spec.ts.snap
  test/components/__snapshots__/ChangelogVersions.spec.ts.snap
Labels: v4

#4781 fix(unplugin): handle components overrides in subdirectories
  playgrounds/vue/src/app.vue
  src/plugins/components.ts
Labels: v4

#4825 fix(InputMenu/Select/SelectMenu): show placeholder when model value is falsy
  src/runtime/utils/index.ts
Labels: v3

#4802 docs(migration): write guide from v3 to v4
  docs/content/docs/1.getting-started/3.migration/1.v4.md
Labels: documentation, v4

#4826 fix(Table): ensure `colspan` calc for `loading` and `empty` states
  src/runtime/components/Table.vue
Labels: v3
